@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 1.5s infinite linear;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

body {
  margin: 0;
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}
